# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb
!examples/*.ipynb

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

data/
# Large files 
*.npy
*.h5
*.hdf5

# Torch / checkpoints
checkpoints/
*.pth
