# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb
!examples/*.ipynb

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# Large files 
data/*.npy
data/*.h5
data/*.hdf5

# Torch / checkpoints
checkpoints/
*.pth
